.centerthis{
  text-align: center;
}

.lastRaceLogo{
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: middle;
  
}

.lastRaceCard{
  margin-top: 25px;
  margin-bottom: 25px;
}

.raceName{

  font-size: 36px;

 }

 .RaceTable tr:nth-child(even) {
  background-color: red;
}

 .RaceHistoryTitle{
   font-size:16px;
   font-weight: 500;
 }

 .linkSpace{
  margin-left: 10px;
}


.logoimage{
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  margin-right: 10px;
  float: right;
}



.editRacePanel{
  
  height:0;
  overflow: hidden;
 
}

.expandRacePanel{
  
  height:580px;
  
  overflow: hidden;
  z-index: 10;
  
}

.editForm{
  width:600px
}

.editRace{
  overflow:hidden;
}

.Trans{
/*  border: solid red;*/
height: -1;
  -webkit-transition: height 2s; /* Safari */
  transition: height 2s;
}

#closed{
  height: 0px;
}

#open{
  
  height: 500px;
}
